# keep mod file
!*.mod

# ignore wasm_exec
src/wasm_exec.js

# and keys
.cf-keys

dist
node_modules
transpiled
/.idea/

# ignore config (has sensitive data)
wrangler.toml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
